@page "/testlib"
@inject IJSRuntime JSRuntime;
@inject HttpClient Http;
@inject IGeocodeService geocodeService;
<h1>Test Graph Library</h1><br/>

<div class="row">
  <div class="column">
    <div class="mb-4">
        <input type="text" placeholder="Enter address or city" class="form-control" @bind="@address" />
        <div style="display:flex;justify-content:space-around;" class="mt-1">
        <button type="button" class="btn btn-primary mr-2" @onclick="HandleValidPos">Add</button>
        <button type="button" class="btn btn-primary mr-2" @onclick="ClearPoses">Clear</button>
        <button type="button" class="btn btn-primary mr-2" @onclick="runSimAnnealing">Calculate Path</button>
        </div>
    </div>

    <svg id='globe'></svg>
  </div>
  <div class="column" id="c2">
      <h5>Locations entered: </h5>
      @if (poses.Count == 0) {
        <p id="locations" style="white-space: pre-wrap">None so far</p>
      } else {
          <ul>
            @foreach (var pose in poses) {
                <li key=@pose.ID>
                    @pose.name: @pose.lat, @pose.lon - 
                    <button class="btn btn-danger" @onclick="() => HandleRemovePos(pose.ID)">X</button>
                </li>
            }
          </ul>
      }
  </div>
</div>

@code {
    private List<Position> poses;
    private List<Link> links;
    private bool rendered;
    private Random rand;
    private string address;
    
    protected override async Task OnInitializedAsync()
    {
        poses = new List<Position>();
        links = new List<Link>();
        rendered = false;
        rand = new Random();
        await JSRuntime.InvokeVoidAsync("setRendered", false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!rendered)
        {
            rendered = true;
            await DisplayGlobe();
        }
    }

    private async Task DisplayGlobe()
    {
        await JSRuntime.InvokeVoidAsync("createGlobe", poses, links);
    }

    private async Task HandleValidPos()
    {
        var position = await geocodeService.GetPos(address);
        if (position != null)
        {
            poses.Add(position);
            // poses.Add(new Position(rand.Next(0, 100000), position.lat, position.lon, position.name));
            await DisplayGlobe();
        }
        else
        {

        }
    }

    private async Task HandleRemovePos(int id)
    {
        poses = poses.Where(pose => pose.ID != id).ToList();
        await DisplayGlobe();
    }

    private async Task ClearPoses()
    {
        poses.Clear();
        links.Clear();
        await DisplayGlobe();
    }

    private async Task runSimAnnealing()
    {
        if (poses.Count > 0)
        {
            WeightedGraph graph = new WeightedGraph(poses);
            IEnumerable<WeightedGraph> solutionSteps = SimAnnealingGraph.Run(graph, 1, 0.999, 0.01);
            foreach (var step in solutionSteps)
            {
                links = step.links;
                await DisplayGlobe();
                await Task.Delay(300);
            }
        }
    }
}
